In [ ]:
### This notebook read all query-log data
# 1. convert timestamp to tm_mon tm_day tm_hour tm_min tm_sec tm_wday(ith week)
# 2. output is march, april, may, contain each month data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import gc
import time
from itertools import product

%matplotlib inline

In [2]:
#first let's create daily df
daily = list(np.arange(31)+1)
daily = [str(0)+str(k) if k<10 else str(k) for k in daily]
month = ['03','04','05']

In [3]:
March = pd.DataFrame()
month = '03'
for day in daily:
    print(' day '+str(day),end='')
    curquery = pd.read_csv('query_log/'+month+day+'.csv',header=None,dtype={0:str,1:str,2:int,3:str})
    curquery.columns = ['file_id','customer_id','timestamp','product_id']
    March = pd.concat([March,curquery],axis=0)

 day 01 day 02 day 03 day 04 day 05 day 06 day 07 day 08 day 09 day 10 day 11 day 12 day 13 day 14 day 15 day 16 day 17 day 18 day 19 day 20 day 21 day 22 day 23 day 24 day 25 day 26 day 27 day 28 day 29 day 30 day 31

In [4]:
March.shape

(25798471, 4)

In [5]:
March.to_hdf('march.h5','df')
#pd.read_hdf('march.h5', 'df')

In [6]:
April = pd.DataFrame()
month = '04'
for day in daily[:-1]:
    print(' day '+str(day),end='')
    curquery = pd.read_csv('query_log/'+month+day+'.csv',header=None,dtype={0:str,1:str,2:int,3:str})
    curquery.columns = ['file_id','customer_id','timestamp','product_id']
    April = pd.concat([April,curquery],axis=0)

 day 01 day 02 day 03 day 04 day 05 day 06 day 07 day 08 day 09 day 10 day 11 day 12 day 13 day 14 day 15 day 16 day 17 day 18 day 19 day 20 day 21 day 22 day 23 day 24 day 25 day 26 day 27 day 28 day 29 day 30

In [7]:
April.to_hdf('april.h5','df')

In [8]:
April.shape

(27666072, 4)

In [9]:
May = pd.DataFrame()
month = '05'
for day in daily:
    print(' day '+str(day),end='')
    curquery = pd.read_csv('query_log/'+month+day+'.csv',header=None,dtype={0:str,1:str,2:int,3:str})
    curquery.columns = ['file_id','customer_id','timestamp','product_id']
    May = pd.concat([May,curquery],axis=0)

 day 01 day 02 day 03 day 04 day 05 day 06 day 07 day 08 day 09 day 10 day 11 day 12 day 13 day 14 day 15 day 16 day 17 day 18 day 19 day 20 day 21 day 22 day 23 day 24 day 25 day 26 day 27 day 28 day 29 day 30 day 31

In [10]:
May.shape

(29808567, 4)

In [11]:
May.to_hdf('may.h5','df')

In [12]:
March = pd.read_hdf('March.h5', 'df')
March = March.reset_index(drop=True)

In [13]:
def convertime(x):
    return time.gmtime(x)
def to_tm_mon(x):
    return x.tm_mon
def to_tm_day(x):
    return x.tm_mday
def to_tm_hour(x):
    return x.tm_hour
def to_tm_min(x):
    return x.tm_min
def to_tm_sec(x):
    return x.tm_sec
def to_tm_wday(x):
    return x.tm_wday

March['strtime']=March['timestamp'].apply(convertime)
March['tm_mon']=March['strtime'].apply(to_tm_mon)
March['tm_day']=March['strtime'].apply(to_tm_day)
March['tm_hour']=March['strtime'].apply(to_tm_hour)
March['tm_min']=March['strtime'].apply(to_tm_min)
March['tm_sec']=March['strtime'].apply(to_tm_sec)
March['tm_wday']=March['strtime'].apply(to_tm_wday)

In [14]:
March.drop('strtime',axis=1,inplace=True)
March.head(3)

,file_id,customer_id,timestamp,product_id,tm_mon,tm_day,tm_hour,tm_min,tm_sec,tm_wday
0,dfccd8e23f0b03ec4db7a9a745ad7399,64573086fcfee53e8fa6d8f1f44101bb,1488326402,c105a0,3,1,0,0,2,2
1,29962f9102502ee76bb3cddb8cf8c9ad,597df153a25e8e548cbe35f6e4da9cbb,1488326403,c105a0,3,1,0,0,3,2
2,fa3fa642378b9d98c0e2770611b92eb3,1db24b8cc0a7ce59634629e7f292520f,1488326405,c105a0,3,1,0,0,5,2

In [15]:
March.to_hdf('march.h5','df')

In [16]:
April = pd.read_hdf('april.h5', 'df')

In [17]:
April = April.reset_index(drop=True)
April['strtime']=April['timestamp'].apply(convertime)
April['tm_mon']=April['strtime'].apply(to_tm_mon)
April['tm_day']=April['strtime'].apply(to_tm_day)
April['tm_hour']=April['strtime'].apply(to_tm_hour)
April['tm_min']=April['strtime'].apply(to_tm_min)
April['tm_sec']=April['strtime'].apply(to_tm_sec)
April['tm_wday']=April['strtime'].apply(to_tm_wday)
April.drop('strtime',axis=1,inplace=True)
April.to_hdf('april.h5','df')

In [18]:
May = pd.read_hdf('may.h5', 'df')
May = May.reset_index(drop=True)
May['strtime']=May['timestamp'].apply(convertime)
May['tm_mon']=May['strtime'].apply(to_tm_mon)
May['tm_day']=May['strtime'].apply(to_tm_day)
May['tm_hour']=May['strtime'].apply(to_tm_hour)
May['tm_min']=May['strtime'].apply(to_tm_min)
May['tm_sec']=May['strtime'].apply(to_tm_sec)
May['tm_wday']=May['strtime'].apply(to_tm_wday)
May.drop('strtime',axis=1,inplace=True)
May.to_hdf('may.h5','df')