In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import gc

%matplotlib inline

In [2]:
product_cnt = pd.read_csv('product_cnt.csv')
cust_prod = pd.read_csv('cust_prod.csv')
train = pd.read_csv('training-set.csv',header=None)
test = pd.read_csv('testing-set.csv',header=None)
train.columns = ['file_id','target']
test.columns = ['file_id','target']

In [3]:
product_cnt.head(3)

,file_id,0374c4,055649,05b409,0cdb7a,20f8a5,218578,262880,26a5d0,3c2be6,...,a310bb,aaa9c8,b93794,c105a0,c76d58,cc3a6a,d465fc,dd8d4a,e47f04,fec24f
0,00008c73ee43c15b16c26b26398c1577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.007463,NaN,NaN,NaN,NaN,0.619403,NaN
1,0000e2398b12121a85166fed5fe2a3da,NaN,0.808511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0001fe8dce14ce099aa6ca8ea5026ea7,NaN,0.790598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.192308,NaN,NaN,NaN,NaN,NaN

In [4]:
cust_prod.head(3)

                            file_id  cust_cnt  prod_cnt
0  00008c73ee43c15b16c26b26398c1577        91         5
1  0000e2398b12121a85166fed5fe2a3da         3         2
2  0001fe8dce14ce099aa6ca8ea5026ea7       234         3

# cust_freq, prod_freq

In [7]:
file_df = pd.read_csv('file_df.csv')

In [8]:
file_df.head(3)

,file_id,first_day,last_day,C1,C2,C3,C4,C5,C6,C_last,...,Cmax_Cmin,Cm1_Cm2,Cmfirst_Cmlast,Cmmax_Cmmin,Cper1_Cper2,Cperfirst_Cperlast,Cpermax_Cpermin,Cmper1_Cmper2,Cmperfirst_Cmperlast,Cmpermax_Cmpermin
0,0000e2398b12121a85166fed5fe2a3da,4,8,43.0,3.0,0.0,0.0,1.0,0.0,1.0,...,42.0,1.161258,1.236928,1.236928,85.106383,89.361702,89.361702,83.188698,88.609485,88.609485
1,0001fe8dce14ce099aa6ca8ea5026ea7,15,20,3.0,39.0,66.0,33.0,45.0,48.0,48.0,...,63.0,-0.432446,-1.055055,1.055055,-15.384615,-19.230769,26.923077,-12.610274,-30.765725,30.765725
2,0006ac9aadbdbf2fed5e62b4e463daa1,24,29,25.0,31.0,20.0,11.0,6.0,8.0,8.0,...,25.0,-0.251355,0.289756,0.638889,-5.940594,16.831683,24.752475,-8.835096,10.184889,22.456861

In [9]:
file_df.columns

Index(['file_id', 'first_day', 'last_day', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6',
       'C_last', 'C_sum', 'Cper1', 'Cper2', 'Cper3', 'Cper4', 'Cper5', 'Cper6',
       'Cper_last', 'Cm1', 'Cm2', 'Cm3', 'Cm4', 'Cm5', 'Cm6', 'Cm_last',
       'Cm_sum', 'Cmper1', 'Cmper2', 'Cmper3', 'Cmper4', 'Cmper5', 'Cmper6',
       'Cmper_last', 'C_mean', 'C_median', 'C_std', 'C_min', 'C_max',
       'Cm_mean', 'Cm_median', 'Cm_std', 'Cm_min', 'Cm_max', 'Cmper_mean',
       'Cmper_median', 'Cmper_std', 'Cmper_min', 'Cmper_max', 'Cper_mean',
       'Cper_median', 'Cper_std', 'Cper_min', 'Cper_max', 'C1_C2',
       'Cfirst_Clast', 'Cmax_Cmin', 'Cm1_Cm2', 'Cmfirst_Cmlast', 'Cmmax_Cmmin',
       'Cper1_Cper2', 'Cperfirst_Cperlast', 'Cpermax_Cpermin', 'Cmper1_Cmper2',
       'Cmperfirst_Cmperlast', 'Cmpermax_Cmpermin'],
      dtype='object')

In [10]:
file_df = file_df[['file_id','C_sum']]
cust_prod = pd.merge(cust_prod,file_df,how='left',on='file_id')

In [11]:
cust_prod.head(3)

                            file_id  cust_cnt  prod_cnt  C_sum
0  00008c73ee43c15b16c26b26398c1577        91         5  134.0
1  0000e2398b12121a85166fed5fe2a3da         3         2   47.0
2  0001fe8dce14ce099aa6ca8ea5026ea7       234         3  234.0

In [12]:
cust_prod['cust_freq']=cust_prod['cust_cnt']/cust_prod['C_sum']
cust_prod['prod_freq']=cust_prod['prod_cnt']/cust_prod['C_sum']

In [13]:
cust_prod.to_csv('cust_prod.csv',index=False)

# custxprod_cnt, custxprod_freq

In [2]:
file_df = pd.read_csv('file_df.csv')

In [3]:
file_df = file_df[['file_id','first_day','last_day']]

In [4]:
cust_prod = pd.read_csv('cust_prod.csv')
cust_prod.head(3)

,file_id,cust_cnt,prod_cnt,C_sum,cust_freq,prod_freq
0,00008c73ee43c15b16c26b26398c1577,91,5,134.0,0.679104,0.037313
1,0000e2398b12121a85166fed5fe2a3da,3,2,47.0,0.063830,0.042553
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,3,234.0,1.000000,0.012821

In [5]:
march = pd.read_hdf('march.h5', 'df')
march['custxprod'] = march['customer_id']+march['product_id']
march = march[['file_id','custxprod','timestamp']]
march = march.groupby(['file_id','custxprod']).count().reset_index()

In [6]:
march.head(3)

,file_id,custxprod,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f7acab3,5
1,0000e2398b12121a85166fed5fe2a3da,8f8608546208bf793af086666c6853db7acab3,4
2,0000e2398b12121a85166fed5fe2a3da,b998eaaa42b24e9c8334d6299d935633055649,38

In [9]:
file_list = file_df['file_id'].unique().tolist()
marfile = file_df[file_df['last_day']<32].file_id.tolist()
aprfile = file_df[(file_df['first_day']>31)&(file_df['last_day']<62)].file_id.tolist()
mayfile = file_df[(file_df['first_day']>61)&(file_df['last_day']<93)].file_id.tolist()
otherfile = list(set(file_list)-set(marfile)-set(aprfile)-set(mayfile))

In [10]:
len(marfile), len(aprfile), len(mayfile), len(otherfile)

(24437, 22627, 28873, 5957)

In [11]:
march_file_df = march[march.isin(marfile).file_id]
march_other_df = march[march.isin(otherfile).file_id]
del march
gc.collect();

In [12]:
march_file_df = march_file_df.groupby('file_id').count().reset_index()

In [13]:
march_file_df=march_file_df[['file_id','custxprod']]

In [14]:
march_file_df.shape

(24437, 2)

In [15]:
april = pd.read_hdf('april.h5', 'df')
april['custxprod'] = april['customer_id']+april['product_id']
april = april[['file_id','custxprod','timestamp']]
april = april.groupby(['file_id','custxprod']).count().reset_index()

april_file_df = april[april.isin(aprfile).file_id]
april_other_df = april[april.isin(otherfile).file_id]

del april
gc.collect();

april_file_df = april_file_df.groupby('file_id').count().reset_index()
april_file_df=april_file_df[['file_id','custxprod']]

In [16]:
may = pd.read_hdf('may.h5', 'df')
may['custxprod'] = may['customer_id']+may['product_id']
may = may[['file_id','custxprod','timestamp']]
may = may.groupby(['file_id','custxprod']).count().reset_index()

may_file_df = may[may.isin(mayfile).file_id]
may_other_df = may[may.isin(otherfile).file_id]

del may
gc.collect();

may_file_df = may_file_df.groupby('file_id').count().reset_index()
may_file_df=may_file_df[['file_id','custxprod']]

In [17]:
#deal with other file
other_file = pd.concat([march_other_df,april_other_df,may_other_df])
del march_other_df, april_other_df, may_other_df
gc.collect();

other_file = other_file.groupby(['file_id','custxprod']).count().reset_index()
other_file = other_file.groupby('file_id').count().reset_index()
other_file.head(3)

                            file_id  custxprod  timestamp
0  000462baadff8a02f7f6fef84d242eed         12         12
1  0007819a84e047a78fbbd620557104ad         58         58
2  0011d5f78c56a18dbb60a455c084ecca         67         67

In [18]:
other_file=other_file[['file_id','custxprod']]
data = pd.concat([march_file_df,april_file_df,may_file_df,other_file],axis=0)

In [19]:
data.columns = ['file_id','custxprod_cnt']
cust_prod.head(3)

,file_id,cust_cnt,prod_cnt,C_sum,cust_freq,prod_freq
0,00008c73ee43c15b16c26b26398c1577,91,5,134.0,0.679104,0.037313
1,0000e2398b12121a85166fed5fe2a3da,3,2,47.0,0.063830,0.042553
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,3,234.0,1.000000,0.012821

In [20]:
cust_prod = pd.merge(cust_prod,data,how='left',on='file_id')

In [27]:
cust_prod.head(3)

,file_id,cust_cnt,prod_cnt,cust_freq,prod_freq,custxprod_cnt,custxprod_freq
0,00008c73ee43c15b16c26b26398c1577,91,5,0.679104,0.037313,91,0.679104
1,0000e2398b12121a85166fed5fe2a3da,3,2,0.063830,0.042553,3,0.063830
2,0001fe8dce14ce099aa6ca8ea5026ea7,234,3,1.000000,0.012821,234,1.000000

In [23]:
cust_prod['custxprod_freq']=cust_prod['custxprod_cnt']/cust_prod['C_sum']

In [25]:
cust_prod.drop('C_sum',axis=1,inplace=True)

In [26]:
cust_prod.to_csv('cust_prod.csv',index=False)