In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import gc

%matplotlib inline

# hrinte_cust

In [2]:
# 把小時切成 0~6, 6~12, 12~18, 18~24
#  21~ 23 + 0~3 , 3~9, 9~15, 15~21
time_interval_dict = dict()
for i in range(24):
    j = i//6 
    #j=(i-3)//6
    if j<0:
        j=3
    time_interval_dict[i]=j

In [3]:
march = pd.read_hdf('march.h5', 'df')

march['hour_cat'] = march['tm_hour'].map(time_interval_dict)

march = march.groupby(['file_id','customer_id','hour_cat']).count().reset_index()[['file_id','customer_id','hour_cat','timestamp']]
march['hour_cat'] = march['hour_cat']+1
march.head(3)

,file_id,customer_id,hour_cat,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,2,4
1,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,3,1
2,0000e2398b12121a85166fed5fe2a3da,8f8608546208bf793af086666c6853db,2,3

In [4]:
april = pd.read_hdf('april.h5', 'df')

april['hour_cat'] = april['tm_hour'].map(time_interval_dict)

april = april.groupby(['file_id','customer_id','hour_cat']).count().reset_index()[['file_id','customer_id','hour_cat','timestamp']]
april['hour_cat'] = april['hour_cat']+1
april.head(3)

,file_id,customer_id,hour_cat,timestamp
0,00027f50019000accc492e5684efc818,01e2a49cab4e3b9e9b4d49f9370cb5f8,4,2
1,00027f50019000accc492e5684efc818,0f45759c53530348f56979dc59fc6c8f,3,5
2,00027f50019000accc492e5684efc818,0f45759c53530348f56979dc59fc6c8f,4,3

In [5]:
may = pd.read_hdf('may.h5', 'df')

may['hour_cat'] = may['tm_hour'].map(time_interval_dict)

may = may.groupby(['file_id','customer_id','hour_cat']).count().reset_index()[['file_id','customer_id','hour_cat','timestamp']]
may['hour_cat'] = may['hour_cat']+1
may.head(3)

,file_id,customer_id,hour_cat,timestamp
0,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,2,1
1,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,3,2
2,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,2,2

In [6]:
data = pd.concat([march,april,may],axis=0)
data.head(3)

,file_id,customer_id,hour_cat,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,2,4
1,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,3,1
2,0000e2398b12121a85166fed5fe2a3da,8f8608546208bf793af086666c6853db,2,3

In [7]:
data = data.groupby(['file_id','customer_id','hour_cat']).sum().reset_index()
data.head(3)

,file_id,customer_id,hour_cat,timestamp
0,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,2,1
1,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,3,2
2,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,2,2

In [8]:
data = data.groupby(['file_id','hour_cat']).count().reset_index()[['file_id','hour_cat','timestamp']]
data.head(3)

                            file_id  hour_cat  timestamp
0  00008c73ee43c15b16c26b26398c1577         1          2
1  00008c73ee43c15b16c26b26398c1577         2         71
2  00008c73ee43c15b16c26b26398c1577         3         27

In [9]:
data = data.pivot_table(values='timestamp',index=['file_id'],columns='hour_cat',aggfunc='sum').reset_index()
data = data.fillna(0)
data.columns = ['file_id', 'cchrinte1', 'cchrinte2', 'cchrinte3', 'cchrinte4']
data.head(3)

,file_id,cchrinte1,cchrinte2,cchrinte3,cchrinte4
0,00008c73ee43c15b16c26b26398c1577,2.0,71.0,27.0,1.0
1,0000e2398b12121a85166fed5fe2a3da,0.0,3.0,2.0,0.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,62.0,70.0,53.0,49.0

In [10]:
data.to_csv('hour_interval_cust_cnt.csv',index=False)

# mininte_cust

In [11]:
# 把分鐘切成 0~15, 15~30, 30~45, 45~60
time_interval_dict = dict()
for i in range(60):
    #j = i//6 
    j=(i)//15
    time_interval_dict[i]=j

In [12]:
march = pd.read_hdf('march.h5', 'df')

march['min_cat'] = march['tm_min'].map(time_interval_dict)

march = march.groupby(['file_id','customer_id','min_cat']).count().reset_index()[['file_id','customer_id','min_cat','timestamp']]
march['min_cat'] = march['min_cat']+1
march.head(3)

,file_id,customer_id,min_cat,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,2,2
1,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,3,1
2,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,4,2

In [13]:
april = pd.read_hdf('april.h5', 'df')

april['min_cat'] = april['tm_min'].map(time_interval_dict)

april = april.groupby(['file_id','customer_id','min_cat']).count().reset_index()[['file_id','customer_id','min_cat','timestamp']]
april['min_cat'] = april['min_cat']+1
april.head(3)

,file_id,customer_id,min_cat,timestamp
0,00027f50019000accc492e5684efc818,01e2a49cab4e3b9e9b4d49f9370cb5f8,3,2
1,00027f50019000accc492e5684efc818,0f45759c53530348f56979dc59fc6c8f,2,6
2,00027f50019000accc492e5684efc818,0f45759c53530348f56979dc59fc6c8f,4,2

In [14]:
may = pd.read_hdf('may.h5', 'df')

may['min_cat'] = may['tm_min'].map(time_interval_dict)

may = may.groupby(['file_id','customer_id','min_cat']).count().reset_index()[['file_id','customer_id','min_cat','timestamp']]
may['min_cat'] = may['min_cat']+1
may.head(3)

,file_id,customer_id,min_cat,timestamp
0,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,1,3
1,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,1,1
2,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,3,2

In [15]:
data = pd.concat([march,april,may],axis=0)
data.head(3)

,file_id,customer_id,min_cat,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,2,2
1,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,3,1
2,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,4,2

In [16]:
data = data.groupby(['file_id','customer_id','min_cat']).sum().reset_index()
data.head(3)

,file_id,customer_id,min_cat,timestamp
0,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,1,3
1,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,1,1
2,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,3,2

In [17]:
data = data.groupby(['file_id','min_cat']).count().reset_index()[['file_id','min_cat','timestamp']]
data.head(3)

                            file_id  min_cat  timestamp
0  00008c73ee43c15b16c26b26398c1577        1         26
1  00008c73ee43c15b16c26b26398c1577        2         29
2  00008c73ee43c15b16c26b26398c1577        3         27

In [18]:
data = data.pivot_table(values='timestamp',index=['file_id'],columns='min_cat',aggfunc='sum').reset_index()
data = data.fillna(0)
data.columns = ['file_id', 'ccmininte1', 'ccmininte2', 'ccmininte3', 'ccmininte4']
data.head(3)

,file_id,ccmininte1,ccmininte2,ccmininte3,ccmininte4
0,00008c73ee43c15b16c26b26398c1577,26.0,29.0,27.0,27.0
1,0000e2398b12121a85166fed5fe2a3da,2.0,1.0,1.0,1.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,48.0,52.0,72.0,62.0

In [19]:
data.to_csv('min_interval_cust_cnt.csv',index=False)

# sec_cust

In [20]:
# 把秒切成 0~15, 15~30, 30~45, 45~60
time_interval_dict = dict()
for i in range(60):
    #j = i//6 
    j=(i)//15
    time_interval_dict[i]=j

In [21]:
march = pd.read_hdf('march.h5', 'df')

march['sec_cat'] = march['tm_sec'].map(time_interval_dict)

march = march.groupby(['file_id','customer_id','sec_cat']).count().reset_index()[['file_id','customer_id','sec_cat','timestamp']]
march['sec_cat'] = march['sec_cat']+1
march.head(3)

,file_id,customer_id,sec_cat,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,1,1
1,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,2,3
2,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,3,1

In [22]:
april = pd.read_hdf('april.h5', 'df')

april['sec_cat'] = april['tm_sec'].map(time_interval_dict)

april = april.groupby(['file_id','customer_id','sec_cat']).count().reset_index()[['file_id','customer_id','sec_cat','timestamp']]
april['sec_cat'] = april['sec_cat']+1
april.head(3)

,file_id,customer_id,sec_cat,timestamp
0,00027f50019000accc492e5684efc818,01e2a49cab4e3b9e9b4d49f9370cb5f8,1,2
1,00027f50019000accc492e5684efc818,0f45759c53530348f56979dc59fc6c8f,2,3
2,00027f50019000accc492e5684efc818,0f45759c53530348f56979dc59fc6c8f,3,5

In [23]:
may = pd.read_hdf('may.h5', 'df')

may['sec_cat'] = may['tm_sec'].map(time_interval_dict)

may = may.groupby(['file_id','customer_id','sec_cat']).count().reset_index()[['file_id','customer_id','sec_cat','timestamp']]
may['sec_cat'] = may['sec_cat']+1
may.head(3)

,file_id,customer_id,sec_cat,timestamp
0,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,1,2
1,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,4,1
2,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,1,1

In [24]:
data = pd.concat([march,april,may],axis=0)
data.head(3)

,file_id,customer_id,sec_cat,timestamp
0,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,1,1
1,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,2,3
2,0000e2398b12121a85166fed5fe2a3da,40664c284a10689448522bbae43c3d6f,3,1

In [25]:
data = data.groupby(['file_id','customer_id','sec_cat']).sum().reset_index()
data.head(3)

,file_id,customer_id,sec_cat,timestamp
0,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,1,2
1,00008c73ee43c15b16c26b26398c1577,033e91e730e176cd2ac81dc48a8f5088,4,1
2,00008c73ee43c15b16c26b26398c1577,06bea9f9c1d72c4d3151efa6bcd5ba83,1,1

In [26]:
data = data.groupby(['file_id','sec_cat']).count().reset_index()[['file_id','sec_cat','timestamp']]
data.head(3)

                            file_id  sec_cat  timestamp
0  00008c73ee43c15b16c26b26398c1577        1         23
1  00008c73ee43c15b16c26b26398c1577        2         31
2  00008c73ee43c15b16c26b26398c1577        3         27

In [27]:
data = data.pivot_table(values='timestamp',index=['file_id'],columns='sec_cat',aggfunc='sum').reset_index()
data = data.fillna(0)
data.columns = ['file_id', 'ccsecinte1', 'ccsecinte2', 'ccsecinte3', 'ccsecinte4']
data.head(3)

,file_id,ccsecinte1,ccsecinte2,ccsecinte3,ccsecinte4
0,00008c73ee43c15b16c26b26398c1577,23.0,31.0,27.0,33.0
1,0000e2398b12121a85166fed5fe2a3da,3.0,3.0,3.0,1.0
2,0001fe8dce14ce099aa6ca8ea5026ea7,61.0,49.0,53.0,71.0

In [28]:
data.to_csv('sec_interval_cust_cnt.csv',index=False)